<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <!--<add assembly="EasyGelf.NLog"/>-->
  </extensions>

  <variable name="logLayout" value="${longdate}|${aspnet-request-ip:CheckForwardedForHeader=true}|${aspnet-traceidentifier}|${aspnet-Request-Url}?${aspnet-Request-QueryString}|${uppercase:${level}}|${message}${exception}" />
  <variable name="appName" value="NetCore31Skeleton.WebApi" />
  <targets>
    <target name="logfile" fileName="${gdc:item=configDir}\${var:appName}\${date:yyyyMMdd}.log" xsi:type="File" layout="${var:logLayout}"/>

    <target name="logconsole" xsi:type="Console" layout="${var:logLayout}"/>

    <!--<target name="graylog" xsi:type="GelfUdp" facility="${var:appName}" remoteAddress="88.99.150.116" remotePort="1220" layout="${var:logLayout}" />-->

    <target xsi:type="File" name="allfile" fileName="${gdc:item=configDir}\${var:appName}\${date:yyyyMMdd}.log" layout="${var:logLayout}" />

    <target xsi:type="Null" name="blackhole" />
   
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

  </rules>
</nlog>