<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="DbEngine" value="pgsql" />
    <!--<add key="DbEngine" value="pgsql" />-->
    <!--<add key="DbEngine" value="pgsql" />-->
    <!--<add key="DbEngine" value="pgsql" />-->
    
    <!--<add key="MssqlConnectionString" value="data source=88.99.150.116;initial catalog=NetCore31Skeleton;persist security info=True;user id=mssql;password=Qwe3779!;MultipleActiveResultSets=True;App=EntityFramework" />-->
    <add key="PgsqlConnectionString" value="Host=88.99.150.116;Database=app_db;Username=app_dbuser;Password=MyPassword11!" />
    <!--<add key="MysqlConnectionString" value="Server=88.99.150.116;Database=NetCore31Skeleton;Uid=mysql;Pwd=Qwe3779!" />-->
    <!--<add key="MemoryConnectionString" value="NetCore31Skeleton" />-->

    <add key="InternalApiUrl" value="http://localhost:37790" />
    
    <add key="JwtSecurityKey" value="JwtSecurityKey2020" />
    <add key="configDir" value="C:\Logs" />

  </appSettings>
</configuration>