<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="EasyGelf.NLog"/>
  </extensions>

  <targets>
    <target name="logfile" fileName="xxx" xsi:type="File"
            layout="${longdate}|${aspnet-request-ip:CheckForwardedForHeader=true}|${aspnet-traceidentifier}|${aspnet-Request-Url}?${aspnet-Request-QueryString}|${uppercase:${level}}|${message}${newline}"/>

    <target name="logconsole" xsi:type="Console"
            layout="${longdate}|${aspnet-request-ip:CheckForwardedForHeader=true}|${aspnet-traceidentifier}|${aspnet-Request-Url}?${aspnet-Request-QueryString}|${uppercase:${level}}|${message}"
            />

    <target name="graylog" xsi:type="GelfUdp" facility="xxx" remoteAddress="88.99.150.116" remotePort="1220"
            layout="${longdate}|${aspnet-request-ip:CheckForwardedForHeader=true}|${aspnet-traceidentifier}|${aspnet-Request-Url}?${aspnet-Request-QueryString}|${uppercase:${level}}|${message}" />

    <target name="database" xsi:type="Database">
      <commandText>
        insert into dbo.NLog (MachineName, Logged, Level, Message,Logger, Callsite, Exception,ActivityId, TraceIdentifier, SessionId) values (@MachineName, @Logged, @Level, @Message,@Logger, @Callsite, @Exception,@ActivityId,@TraceIdentifier,@SessionId);
      </commandText>

      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <parameter name="@ActivityId" layout="${activityid} " />
      <parameter name="@TraceIdentifier" layout="${aspnet-traceidentifier}" />
      <parameter name="@SessionId" layout="${aspnet-sessionid}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="database" >
      <filters>
        <when condition="equals('${callsite}','Microsoft.EntityFrameworkCore.Internal.RelationalLoggerExtensions.CommandExecuted')" action="Ignore" />
      </filters>
    </logger>

    <logger name="*" minlevel="Trace" writeTo="logfile" >
      <filters>
        <when condition="equals('${callsite}','Microsoft.EntityFrameworkCore.Internal.RelationalLoggerExtensions.CommandExecuted')" action="Ignore" />
      </filters>
    </logger>

    <logger name="*" minlevel="Debug" writeTo="logconsole" >
      <filters>
        <when condition="equals('${callsite}','Microsoft.EntityFrameworkCore.Internal.RelationalLoggerExtensions.CommandExecuted')" action="Ignore" />
      </filters>
    </logger>

    <logger name="*" minlevel="Trace" writeTo="graylog" >
      <filters>
        <when condition="equals('${callsite}','Microsoft.EntityFrameworkCore.Internal.RelationalLoggerExtensions.CommandExecuted')" action="Ignore" />
      </filters>
    </logger>


  </rules>
</nlog>